{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Hello, world!</title>
{% endblock meta %}
{% block content %}
<div class="collapse navbar-collapse" id="mainNavbar">
    <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">Course</a></li>
        <li><a href="#">About</a></li>
    </ul>
    {% if user.is_authenticated %}
    <ul class="nav navbar-nav navbar-right">
        <li><a href="/signup"><span class="glyphicon glyphicon-user"></span>HI {{ request.user.username }}</a></li>
        <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span>Logout</a></li>
    </ul>
    {% else %}
    <ul class="nav navbar-nav navbar-right">
        <li><a href="/signup"><span class="glyphicon glyphicon-user"></span>Register Account</a></li>
        <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span>Login</a></li>
    </ul>
    {% endif %}
</div>

{% if not user.is_authenticated %}
<form class="w3-container">
    <p>
    <label>Login untuk lihat gambarnya</label>
  </form>
{% endif %}

<form class="w3-container">
    <p>
    <label>Masukkan Keyword</label>
    <input id="keyword" class="w3-input" type="text" placeholder="masukkan keyword"></p>
  </form>
    <ol id="daftar_isi">
    </ol>

    <script type="text/javascript">
        $("#keyword").keyup(function(){
            var ketik = $("#keyword").val();
            console.log(ketik);
            //teknik ajax
            $.ajax({
                url: '/data?q=' + ketik,
                success: function(data){
                    console.log(data);
                    var arrays_items = data.items;
                    //console.log(arrays_items);
                    $("#daftar_isi").empty();
                    for(i =0; i<arrays_items.length;i++){
                        var judul = arrays_items[i].volumeInfo.title;
                        var gambar = arrays_items[i].volumeInfo.imageLinks.smallThumbnail;
                        $("#daftar_isi").append("<li>"+ judul+ "<br><img src ="+ gambar + "></li>");
                        //console.log(judul);
                    }
                 }
            });
        });
    </script>
{% endblock content %}
