{% extends 'base.html' %}
{% load static %}

{% block meta %}

{% endblock meta %}

{% block content %}
<div class="w3-container">
    <form method="POST" action="">
        {% csrf_token %}
        {{form.as_p}}
        <button class="button button2" type="submit">Kirim</button>
    </form>
</div>
  
{% endblock content %}
